body {
   font-family: sans-serif;
   background-color: whitesmoke;
   margin: 20px 40px;
}

* {
   color:#333;
}

input[type="submit"] {
   padding-left: 20px;
   padding-right: 20px;
}

a {
   text-decoration: none;
}