body {
   font-family: sans-serif;
   background-color: #f7f7f7;
   margin: 20px 40px;
}

* {
   color:#333;
}

input[type="submit"] {
   padding-left: 20px;
   padding-right: 20px;
}

a {
   text-decoration: none;
}

table {
   border:1px solid black;
   border-collapse:collapse;
   font-family: monospace;
}

th, td {
   border:1px solid gray;
   border-collapse:collapse;
   padding-left:10px;
   padding-right:10px;
}

ul, ol {
   list-style-type:none;
}
