{{define "ActivityPanel"}}
   <h2>Syntax composition analysis</h2>
   <p style="font-weight:bold;font-family:courier;color:orangered">[ Status: Experimental ]</p>
   <br/>

   <form method="post">
      <input type="text" name="inpStr" required/>
      <input type="submit" value="Deconstruct"/>
   </form>

   {{if .ResStrs}}
      <div>
         <br/>
         <span style="font-size:1.25em">{{.InpStr}}</span> <br/>
         {{range .ResStrs}}
           <span style="font-size:1.25em">{{.}}</span> <br/>
         {{end}}
         <br/>
      </div>
   {{else}}
      <p>Usage example: Type in "மரங்கள்" to see its composition</p>
   {{end}}

{{end}}
