<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>தமிழ் exploration</title>
	<link rel="stylesheet" href="style.css">
	<script type="module">
		import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
		mermaid.initialize ({ startOnLoad: true });
	</script>
</head>
<body>

<span style="font-size:0.67em;text-align:center;background:lightcyan">
	[ Proof of concept sample application: To encourage programmers
	 to create simple Thamizh learning aids, for Thamizh learners ]
	 (Repo: <a href="https://github.com/ThamizhLearner/ThamizhLocalhost">github.com/ThamizhLearner/ThamizhLocalhost</a>)
</span>
<p/>

<nav class="mainMenu">
	<table>
		<tr>
			<td><a href="/SylWord">Syllabify</a></td>
			<td><a href="/SylPara">Syllabify(2)</a></td>
			<td><a href="/Verbs">Verb list</a></td>
			<td><a href="/Num">Numbers</a></td>
			<td><a href="/Kural">திருக்குறள்</a></td>
			<td><a href="/Decomposition">Syntax (Decomposition)</a></td>
			<td><a href="/Misc">Misc</a></td>
		</tr>
	</table>
</nav>

<main>
	{{template "ActivityPanel" .}}
</main>

</body>
</html>
