{{define "ActivityPanel"}}
   <h2>Thirukkural திருக்குறள்</h2>
   <p><span class="status_wip">[ Status: Work in progress ]</span></p>
   <br/>

   <table style="background-color:#fcfcfc">
      <tr>
         <th>எண்</th>
         <th>குறள்</th>
         <th>Syllabified</th>
      </tr>
      {{range .Kurals}}
         <tr>
            <td rowspan="2" style="text-align:center">{{.Num}}</td>
            <td style="text-align:center">&nbsp;<br/>{{.Line}}<br/>{{.Line2}}<br/> &nbsp;</td>
            <td style="text-align:center">&nbsp;<br/>{{.Syl}}<br/>{{.Syl2}}<br/> &nbsp; </td>
         </tr>
         <tr>
            <td colspan="2" style="text-align:center">
               <div style="display:inline-block">
               {{template "SimpleTable2" .RhythmTable}}
               </div>
               <br/>&nbsp;
            </td>
         </tr>
      {{end}}
   </table>

{{end}}

{{define "SimpleTable2"}}
<div class="stdTable">
   <h3>{{.Title}}</h3>
   <table>
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
