{{define "ActivityPanel"}}
   <h2>Misc information</h2>

   {{template "SimpleTable" .NerTable}}
   <br>
   {{template "SimpleTable" .NiraiTable}}
   <br>
   {{template "SimpleTable" .RhythmTable}}

   <br>
   {{template "SimpleTable" .InfoTable}}

   <br>
   <h4 style="padding: 0px 10px">Classification of தமிழ் verbs</h4>
   <div class="mermaid">
      {{.VerbGraph}}
   </div>

{{end}}

{{define "SimpleTable"}}
<div class="stdTable">
   <h4>{{.Title}}</h4>
   <table>
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
