{{define "ActivityPanel"}}
   <h2>Misc information</h2>

   <h3>Misc அசை references</h3>
   <hr/>
   {{template "SimpleTable" .NerTable}}
   {{template "SimpleTable" .NiraiTable}}
   {{template "SimpleTable" .RhythmTable}}

   <hr/>
   <h3>Misc lookups</h3>
   <hr/>
   {{template "SimpleTable" .InfoTable}}

   <h3>Classification of தமிழ் verbs</h3>
   <div class="mermaid">
      {{.VerbGraph}}
   </div>

{{end}}

{{define "SimpleTable"}}
<div>
   <h4 style="white-space:nowrap">{{.Title}}</h4>
   <table style="white-space:nowrap">
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
