{{define "ActivityPanel"}}
   <h2>Misc information</h2>

   {{template "SimpleTable2D" .CVTable}}
   {{template "SimpleTable" .NerTable}}
   <br>
   {{template "SimpleTable" .NiraiTable}}
   <br>
   {{template "SimpleTable" .RhythmTable}}

   <br>
   {{template "SimpleTable" .InfoTable}}

   <br>
   <h4 style="padding: 0px 10px">Classification of தமிழ் verbs</h4>
   <div class="mermaid">
      {{.VerbGraph}}
   </div>

{{end}}

{{define "SimpleTable"}}
<div class="stdTable">
   <h4>{{.Title}}</h4>
   <table>
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}

{{define "SimpleTable2D"}}
<div>
   <h4 style="padding:0px 10px">{{.Title}}</h4>
   <table class="table2d">
      {{range $r, $rv := .Cells}}
         <tr>
         {{range $c, $cv := .}}
            {{ if and (eq $c 0) (eq $r 0) }}
               <th>
                  {{.}}
               </th>
            {{ else if eq $c 0 }}
               <th class="row">
               {{.}}
               </th>
            {{ else if eq $r 0 }}
               <th class="col">
               {{.}}
               </th>
            {{ else }}
               <td>
               {{.}}
               </td>
            {{ end }}
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
