{{define "ActivityPanel"}}
   <h2>Numbers</h2>
   <p><span class="status_wip">[ Status: Work in progress ]</span></p>

   {{template "SimpleTable" .NumTable}}

{{end}}

{{define "SimpleTable"}}
<div class="stdTable">
   <h4>{{.Title}}</h4>
   <table>
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
