{{define "WordSylPanel"}}
   <p style="font-size:2.5em">English syllabification technique (applied to Thamizh)</p>
   <br/>

   <form method="post" style="font-size:2em">
      <label for="inpStr">Type or paste Thamizh text paragraph:</label>
      <br>
      <textarea id="inpStr" name="inpStr" rows="9" cols="99" required style="font-size:inherit"></textarea>
      <br>
      <input type="submit" value="Syllabify" style="font-size:inherit;font-family:inherit"/>
   </form>

   {{if .SylStr}}
      <div style="font-size:2em">
         <p>{{.InpStr}}</p>
      </div>
      <div style="font-size:2em">
         <p>{{.SylStr}}</p>
      </div>
   {{end}}

{{end}}
