{{define "ActivityPanel"}}
   <h2>Syllabify தமிழ் text</h2>

   <form method="post">
      <label for="inpStr">Type in or paste Thamizh text:</label>
      <br>
      <textarea id="inpStr" name="inpStr" rows="4" cols="64" required></textarea>
      <br>
      <input type="submit" value="Syllabify"/>
   </form>

   {{if .SylStr}}
      <div style="font-size:1.25em">
         <p>{{.InpStr}}</p>
      </div>
      <div style="font-size:1.25em">
         <p>{{.SylStr}}</p>
      </div>
   {{else}}
      <p><span style="font-weight:bold">Usage example:</span>
      Type in "<span style="font-weight:bold">எல்லாச் சொல்லும் பொருள் குறித்தனவே</span>" to see its syllabified form.
      </p>
   {{end}}

{{end}}
