{{define "ActivityPanel"}}
   <h1>தமிழ் paragraph syllabification</h1>
   <br/>

   <form method="post" style="font-size:1.5em">
      <label for="inpStr">Type in or paste Thamizh text paragraph:</label>
      <br>
      <textarea id="inpStr" name="inpStr" rows="4" cols="48" required style="font-size:inherit"></textarea>
      <br>
      <input type="submit" value="Syllabify" style="font-size:inherit;font-family:inherit"/>
   </form>

   {{if .SylStr}}
      <div style="font-size:1.25em">
         <p>{{.InpStr}}</p>
      </div>
      <div style="font-size:1.5em">
         <p>{{.SylStr}}</p>
      </div>
   {{else}}
      <p><span style="font-weight:bold">Usage example:</span>
      Type in "<span style="font-weight:bold">எல்லாச் சொல்லும் பொருள் குறித்தனவே</span>" to see its syllabified form.
      </p>
   {{end}}

{{end}}
