{{define "WordSylPanel"}}
   <p style="font-size:2.5em">English syllabification technique (applied to Thamizh)</p>
   <br/>

   <form method="post" style="font-size:2em">
      <input type="text" name="inpStr" required style="font-size:inherit"/>
      <input type="submit" value="Syllabify" style="font-size:inherit;font-family:inherit"/>
   </form>

   {{if .SylStr}}
      <div>
         <br/>
         <span style="font-size:2.5em">{{.InpStr}}</span> <br/>
         <span>Letters: {{.LetterCount}}</span> <br/>
         <span style="font-size:2.5em">{{.SylStr}}</span> <br/>
         <span>Syllabic sounds: {{.SylCount}}</span>
      </div>

      <br/> <br/>
      <div class="mermaid">
         {{.Graph}}
      </div>
   {{else}}
      <p>Usage example: Type in "இலக்கணம்" to see its syllabified form</p>
   {{end}}
{{end}}
