{{define "ActivityPanel"}}
   <h2>Syllabify தமிழ் word</h2>

   <form method="post" action="/SylWord">
      <input type="text" name="inpStr" required/>
      <input type="submit" value="Syllabify"/>
   </form>

   {{if .SylStr}}
      <br><br>
      <div>
         <table class="table">
            <tr style="font-size:2em">
               <td width="40%">{{.InpStr}}</td>
               <td>{{.SylStr}}</td>
            </tr>

            <tr style="font-size:1em">
               <td>Letter count: {{.LetterCount}}</td>
               <td>Syllabic sounds: {{.SylCount}}</td>
            </tr>
         </table>
      </div>

      <br><br>
      <div class="mermaid">
         {{.Graph}}
      </div>
   {{else}}
      <p><span style="font-weight:bold">Usage example:</span>
      Type in "<span style="font-weight:bold">இலக்கணம்</span>" to see its syllabified form.
      </p>
      {{if .SylStrEg}}
         <br>
         <div style="background-color:beige;padding:20px">
         <p><span style="font-weight:bold">Example preview:</span>
          Syllabification of <span style="font-weight:bold">{{.InpStr}}</span></p>
         <div>
            <table class="table">
               <tr style="font-size:2em">
                  <td width="40%">{{.InpStr}}</td>
                  <td>{{.SylStrEg}}</td>
               </tr>

               <tr style="font-size:1em">
                  <td>Letter count: {{.LetterCount}}</td>
                  <td>Syllabic sounds: {{.SylCount}}</td>
               </tr>
            </table>
         </div>

         <br><br>
         <div class="mermaid">
            {{.Graph}}
         </div>
         </div>
      {{end}}
   {{end}}
{{end}}
