{{define "ActivityPanel"}}
   <h2>Syllabify தமிழ் word</h2>

   <form method="post">
      <input type="text" name="inpStr" required/>
      <input type="submit" value="Syllabify"/>
   </form>

   {{if .SylStr}}
      <br><br>
      <div>
         <table class="sylWord">
            <tr>
               <td width="40%"><span style="font-size:2em">{{.InpStr}}</span></td>
               <td><span style="font-size:2em">{{.SylStr}}</span></td>
            </tr>

            <tr>
               <td><span style="font-size:1em">Letter count: {{.LetterCount}}</span></td>
               <td><span style="font-size:1em">Syllabic sounds: {{.SylCount}}</span></td>
            </tr>
         </table>
      </div>

      <br><br>
      <div class="mermaid">
         {{.Graph}}
      </div>
   {{else}}
      <p><span style="font-weight:bold">Usage example:</span>
      Type in "<span style="font-weight:bold">இலக்கணம்</span>" to see its syllabified form.
      </p>
   {{end}}
{{end}}
