{{define "ActivityPanel"}}
   <header>
   <h1>Verb forms</h1>
   <p style="font-size:1.5em;font-weight:bold;font-family:courier;color:darkorange">[ Status: Work in progress ]</p>
   </header>

   <section style="display:flex">
      <nav style="flex:1;background:#fafafa">
         <ul>
         {{range .VerbLinks}}
            <li><a href="{{.Url}}">{{.Name}}</a></li>
         {{end}}
         </ul>
      </nav>

      <article style="flex:4;background-color:#fcfcfc">
         <h1>{{.Verb}}</h1>
         <div>
            <span style="font-weight:bold">தொழிற்பெயர் (activity) :</span> {{.VerbalNoun}}
         </div>

         {{template "SimpleTable" .RefTable}}
         {{template "SimpleTable" .DecompTable}}

         <p/>
         <hr/>
         <h2>Alternative perspective</h2>

         {{template "SimpleTable" .PhraseTable}}
         {{template "SimpleTable" .SylPhraseTable}}
      </article>
   </section>
{{end}}

{{define "SimpleTable"}}
<div>
   <h3>{{.Title}}</h3>
   <table>
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
