{{define "ActivityPanel"}}
   <h2>Verb forms</h2>
   <p style="font-weight:bold;font-family:courier;color:darkorange">[ Status: Work in progress ]</p>

   <section style="display:flex">
      <nav style="background:#eee;white-space:nowrap;padding:10px">
         <ul style="padding:0;margin:0">
         {{range .VerbLinks}}
            {{if .Selected}}
               <li style="background:lightcyan;margin-bottom:3px;text-align:center"><a href="{{.Url}}">{{.Name}}</a></li>
            {{else}}
               <li style="background:#fafafa;margin-bottom:3px;text-align:center"><a href="{{.Url}}">{{.Name}}</a></li>
            {{end}}
         {{end}}
         </ul>
      </nav>

      <article style="background-color:#fcfcfc;white-space:nowrap;padding-left:10px;padding-right:10px">
         <h2 style="margin:0px">{{.Verb}}</h2>
         <div>
            <span style="font-weight:bold">தொழிற்பெயர் (activity) :</span> {{.VerbalNoun}}
         </div>

         {{template "SimpleTable" .RefTable}}
         {{template "SimpleTable" .DecompTable}}

         <p/>
         <hr/>
         <h3>Alternative perspective</h3>

         {{template "SimpleTable" .PhraseTable}}
         {{template "SimpleTable" .SylPhraseTable}}
      </article>
   </section>
{{end}}

{{define "SimpleTable"}}
<div>
   <h4>{{.Title}}</h4>
   <table>
      <tr>
      {{range .ColInfoList}}
         <th colspan="{{.Span}}">{{.Header}}</th>
      {{end}}
      </tr>

      {{range .Cells}}
         <tr>
         {{range .}}
            <td>
            {{.}}
            </td>
         {{end}}
         </tr>
      {{end}}
   </table>
</div>
{{end}}
